<footer class="footer">
	<div class="footer__container">
		<div class='footer__logo'>
			<picture>
				<source type='image/webp' data-srcset='@img/logo-footer.webp'>
				<img data-img-src='@img/logo-footer.png' alt='Logo'>
			</picture>
		</div>
		<div class="footer__items">
			<address class="footer__item">
				<h5 class="footer__title">SWIZERLAND</h5>
				<p>Alvari SA</p>
				<p>Quai des Bergues 25</p>
				<p>CH-1201 Genève</p>
			</address>
			<address class="footer__item">
				<h5 class="footer__title">RUSSIA</h5>
				<p>Alvari-rus LLC</p>
				<p>LVIII, DVLD 3, building 1,</p>
				<p>Kiev highway 21-th km, Moscow</p>
				<p>108820 Russia</p>
			</address>
			<address class="footer__item">
				<h5 class="footer__title">SINGAPORE</h5>
				<p>Alvari Pte</p>
				<p>12 Marina Boulevard</p>
				<p>#16-02 MBFC Tower 3</p>
				<p>Singapore 01898</p>
			</address>
			<address class="footer__item">
				<h5 class="footer__title">Contact</h5>
				<a href="mailto:info@alvarigroup.com"><!--<span>Email:</span>--> info@alvarigroup.com</a>
			</address>
		</div>
	</div>
	<div class="footer__bottom">
		<div class="footer__bottom-container">
			<ul class="footer__bottom-list">
				<li>© 2022 Alvari Group</li>
				<li><a href="privacy.html">Politique de Confidentialité</a></li>
			</ul>
		</div>
	</div>
</footer>