<section class="hero">
	<div class="hero__container">
		<div class="hero__wrapper">
			<div class="hero__content">
				<div class="hero__top">
					<h1 class="hero__title">@@title</h1>
					<h2 class="hero__subtitle hero__subtitle_green">@@subtitle</h2>
				</div>
				<p class="hero__text text">@@text</p>
				<div class="hero__decor">
					<span></span>
				</div>
			</div>
			<div class='hero__image'>
				<picture>
					<source type='image/webp' srcset='@img/gallery/@@photo.webp'>
					<img src='@img/gallery/@@photo.jpg' alt='Content photo #@@photo'>
				</picture>
			</div>
		</div>
	</div>
</section>