/*Шрифты*/
$ff1: "NotoSans";
$ff2: "Montserrat";

//Цвета шрифтов
$dark: rgb(48, 49, 51);
$grey: #777777;
$lightgrey: #f7f7f7;
$light: #fff;
$lightTransparent: rgba(48, 49, 51, 0.5);
$green: #47ac77;
