.hero {
   // .hero__container
   &__container {
      @extend %container;
      padding-top: 72px;
      padding-bottom: 72px;
   }

   &__wrapper {
      @media (min-width: 769px) {
         position: relative;
         padding-left: 40px;
         padding-right: 40px;
      }
   }
   // .hero__content
   &__content {
      display: grid;
      row-gap: 36px;
      padding: 10px;
      max-width: max-content;
      // background-color: $lightgrey;
      @media (max-width: 768px) {
         margin-bottom: 36px;
         position: relative;
      }
      @media (min-width: 769px) {
         position: absolute;
         bottom: 0;
         left: 0;
      }

      @media (min-width: 1084px) {
         left: 54px;
      }
      &:after {
         content: "";
         position: absolute;
         top: 0;
         left: 0;
         bottom: 0;
         right: 0;
         background: $lightgrey;
         opacity: 0.75;
      }
   }

   // .hero__top
   &__top {
      position: relative;
      z-index: 1;
   }

   // .hero__title
   &__title {
      font-family: $ff2;
      color: $dark;
      font-weight: 700;
      @include fl(35, 42);
   }

   // .hero__subtitle
   &__subtitle {
      font-family: $ff2;
      color: $dark;
      font-weight: 700;
      max-width: 230px;
      @include fl(35, 42);
      // .hero__subtitle_green
      &_green {
         color: $green;
      }
   }

   // .hero__text
   &__text {
      position: relative;
      z-index: 1;
   }

   // .hero__decor
   &__decor {
      width: 50px;
      position: relative;
      z-index: 1;
      &:after {
         content: "";
         position: absolute;
         top: 0;
         left: 0;
         width: 100%;
         height: 1px;
         background: $green;
      }
   }

   // .hero__image
   &__image {
      @media (min-width: 769px) {
         // max-width: 76.5%;
         max-width: 918px;
         margin-left: auto;
      }
      img {
         max-width: 100%;
      }
   }
}
.activities {
   // .activities__container

   &__container {
      @extend %container;
      padding-top: 36px;
      padding-bottom: 72px;
      display: grid;
      row-gap: 72px;
   }
   &__item {
      @media (min-width: 769px) {
         display: flex;
         column-gap: 72px;
      }
   }

   // .activities__title

   &__title {
      align-self: flex-start;
      position: relative;
      max-width: max-content;
      font-family: $ff2;
      @include fl(17, 20.4);
      display: grid;
      row-gap: 36px;
      // padding: 10px;
      @media (max-width: 768px) {
         margin-bottom: 36px;
      }
      @media (min-width: 769px) {
         top: 36px;
      }
      h3 {
         position: relative;
         z-index: 1;
         color: $green;
         span {
            display: block;
            white-space: nowrap;
         }
      }
      &:after {
         // content: "";
         // position: absolute;
         // top: 0;
         // left: 0;
         // bottom: 0;
         // right: 0;
         // background: $lightgrey;
         // opacity: 0.75;
      }
   }

   // .activities__title-decor

   &__title-decor {
      width: 50px;
      position: relative;
      z-index: 1;
      &:after {
         content: "";
         position: absolute;
         top: 0;
         left: 0;
         width: 100%;
         height: 1px;
         background: $green;
      }
   }

   // .activities__content
   &__content {
      display: grid;
      row-gap: 36px;
   }
}
.benefits {
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
   row-gap: 36px;
   column-gap: 52px;
   &__item {
   }
   // .benefits__image
   &__image {
      max-width: 60px;
      margin-bottom: 24px;
      img {
         max-width: 100%;
      }
   }

   // .benefits__title
   &__title {
      text-transform: uppercase;
      margin-bottom: 18px;
      color: $dark;
      font-family: $ff2;
      font-weight: 600;
      @include fl(20, 30);
   }

   // .benefits__text
   &__text {
      p {
         &:not(:last-child) {
            margin-bottom: 18px;
         }
      }
   }
}

.activities-grid {
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
   column-gap: 36px;
   row-gap: 36px;
   // .activities-grid__first

   &__first {
   }

   // .activities-grid__title

   &__title {
      margin-bottom: 36px;
      color: $green;
      @include fl(14, 16.8);
      font-weight: 300;
      font-family: $ff2;
   }

   // .activities-grid__text

   &__text {
      p {
         &:not(:last-child) {
            margin-bottom: 18px;
         }
      }
   }

   // .activities-grid__second

   &__second {
   }
}
