[data-animate-left] {
   opacity: 0;
   transform: translateX(-100px);
   transition-property: transform, opacity;
   transition-duration: 0.8s 0.3s;
   transition-delay: 0.4s 0.4s;
   transition-timing-function: ease ease;
}
[data-animate-right] {
   opacity: 0;
   transform: translateX(40%);
   transition-property: transform, opacity;
   transition-duration: 0.8s 0.3s;
   transition-delay: 0.5s 0.5s;
   transition-timing-function: ease ease;
}
[data-animate-bottom] {
   opacity: 0;
   transform: translateY(50px);
   transition-property: transform, opacity;
   transition-duration: 0.8s 0.3s;
   transition-delay: 0.8s 0.8s;
   transition-timing-function: ease ease;
}
[data-animate-address] {
   opacity: 0;
   transform: translateX(-50%);
   transition-property: transform, opacity;
   transition-duration: 0.8s 0.3s;
   transition-delay: 0s 0s;
   transition-timing-function: ease ease;
}
[data-animate-scale] {
   opacity: 0;
   transform: scale(0.5);
   transition-property: transform, opacity;
   transition-duration: 0.8s 0.3s;
   transition-delay: 0.5s 0.5s;
   transition-timing-function: ease ease;
}
[data-animate-title] {
   opacity: 0;
   transform: translate(-50px, -80px);
   transition-property: transform, opacity;
   transition-duration: 0.8s 0.3s;
   transition-delay: 0s 0s;
   transition-timing-function: ease ease;
}
[data-animate-subtitle] {
   opacity: 0;
   transform: translate(-90px, -80px);
   transition-property: transform, opacity;
   transition-duration: 0.8s 0.3s;
   transition-delay: 0s 0s;
   transition-timing-function: ease ease;
}
[data-animate-text] {
   opacity: 0;
   transform: translate(-60px, -60px);
   transition-property: transform, opacity;
   transition-duration: 0.8s 0.3s;
   transition-delay: 0s 0s;
   transition-timing-function: ease ease;
}
[data-animate-decor] {
   opacity: 0;
   transform: translate(0, 0);
   transition-property: transform, opacity;
   transition-duration: 0.8s 0.3s;
   transition-delay: 0s 0s;
   transition-timing-function: ease ease;
}
