.hero {
   // .hero__container
   &__container {
      @extend %container;
      padding-top: 72px;
      padding-bottom: 72px;
   }

   &__wrapper {
      @media (min-width: 769px) {
         position: relative;
         padding-left: 40px;
         padding-right: 40px;
      }
   }
   // .hero__content
   &__content {
      display: grid;
      row-gap: 36px;
      padding: 10px;
      max-width: 280px;
      z-index: 1;
      // background-color: $lightgrey;
      @media (max-width: 768px) {
         margin-bottom: 36px;
         position: relative;
      }
      @media (min-width: 769px) {
         position: absolute;
         bottom: 0;
         left: 0;
      }

      @media (min-width: 1084px) {
         left: 54px;
      }
      &:after {
         content: "";
         position: absolute;
         top: 0;
         left: 0;
         bottom: -1px;
         right: 0;
         background: $lightgrey;
         opacity: 0.75;
      }
   }

   // .hero__top
   &__top {
      position: relative;
      z-index: 1;
   }

   // .hero__title
   &__title {
      font-family: $ff2;
      color: $dark;
      font-weight: 700;
      @include fl(35, 42);
   }

   // .hero__subtitle
   &__subtitle {
      font-family: $ff2;
      color: $dark;
      font-weight: 700;
      @include fl(35, 42);
      // .hero__subtitle_green
      &_green {
         color: $green;
      }
   }

   // .hero__text
   &__text {
      position: relative;
      z-index: 1;
   }

   // .hero__decor
   &__decor {
      width: 50px;
      position: relative;
      z-index: 1;
      &:after {
         content: "";
         position: absolute;
         top: 0;
         left: 0;
         width: 100%;
         height: 1px;
         background: $green;
      }
   }

   // .hero__image
   &__image {
      @media (min-width: 769px) {
         // max-width: 76.5%;
         max-width: 918px;
         margin-left: auto;
      }
      img {
         max-width: 100%;
      }
   }
}
.activities {
   // .activities__container

   &__container {
      @extend %container;
      padding-top: 36px;
      padding-bottom: 72px;
      display: grid;
      // grid-template-columns: auto;
      row-gap: 72px;
   }
   &__item {
      @media (min-width: 769px) {
         display: flex;
         display: grid;
         grid-template-columns: 100px 1fr;
         column-gap: 72px;
      }
   }

   // .activities__title

   &__title {
      align-self: flex-start;
      position: relative;
      max-width: max-content;
      font-family: $ff2;
      @include fl(17, 20.4);
      display: grid;
      row-gap: 36px;
      // padding: 10px;
      @media (max-width: 768px) {
         margin-bottom: 36px;
      }
      @media (min-width: 769px) {
         top: 36px;
      }
      h3 {
         position: relative;
         z-index: 1;
         color: $green;
         span {
            display: block;
            white-space: nowrap;
         }
      }
      &:after {
         // content: "";
         // position: absolute;
         // top: 0;
         // left: 0;
         // bottom: 0;
         // right: 0;
         // background: $lightgrey;
         // opacity: 0.75;
      }
   }

   // .activities__title-decor

   &__title-decor {
      width: 50px;
      position: relative;
      z-index: 1;
      &:after {
         content: "";
         position: absolute;
         top: 0;
         left: 0;
         width: 100%;
         height: 1px;
         background: $green;
      }
   }

   // .activities__content
   &__content {
      display: grid;
      row-gap: 36px;
      max-width: 934px;
   }
   // .activities__text
   &__text {
      p {
         span {
            display: block;
         }
      }
   }
   &__image {
      img {
         width: 100%;
         max-width: 100%;
      }
   }
}
.benefits {
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
   row-gap: 36px;
   column-gap: 52px;
   &__item {
   }
   // .benefits__image
   &__image {
      max-width: 60px;
      margin-bottom: 24px;
      img {
         max-width: 100%;
      }
   }

   // .benefits__title
   &__title {
      text-transform: uppercase;
      margin-bottom: 18px;
      color: $dark;
      font-family: $ff2;
      font-weight: 600;
      @include fl(20, 30);
   }

   // .benefits__text
   &__text {
      p {
         &:not(:last-child) {
            margin-bottom: 18px;
         }
      }
   }
}

.activities-grid {
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
   column-gap: 36px;
   row-gap: 36px;

   &__list {
      list-style-type: disc;
      list-style-position: inside;
   }
   // .activities-grid__first

   &__first,
   &__second {
      display: grid;
      grid-template-rows: 1fr auto;
   }

   // .activities-grid__title

   &__title {
      margin-bottom: 36px;
      color: $green;
      @include fl(14, 16.8);
      font-weight: 300;
      font-family: $ff2;
   }

   // .activities-grid__text

   &__text {
      p {
         &:not(:last-child) {
            margin-bottom: 18px;
         }
      }
   }

   // .activities-grid__second

   &__second {
   }
}
.maps {
   display: grid;
   row-gap: 36px;
   @media (min-width: 769px) {
      grid-template-columns: repeat(auto-fit, minmax(235px, 1fr));
      column-gap: 18px;
   }
   // .maps__item

   &__item {
   }

   // .maps__map

   &__map {
      iframe {
         height: 450px;
         width: 100%;
      }
      margin-bottom: 36px;
   }

   // .maps__content

   &__content {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      h5 {
         margin-bottom: 18px;
         @include fl(17, 20.4);
         color: $green;
         font-family: $ff2;
      }
      p {
         &:not(:last-child, :first-child) {
            margin-bottom: 6px;
         }
      }
   }
}

.form {
   display: grid;
   row-gap: 18px;
   input,
   textarea {
      padding: 10px 15px;
      color: $dark;
      width: 100%;
      border-radius: 2px;
      border: 1px solid rgba(0, 0, 0, 0.1);
      transition: border-color 0.3s ease;
      &:focus {
         border-color: $green;
      }
      &::placeholder {
         opacity: 0.7;
         box-shadow: inset 0 2px 1px rgba(0, 0, 0, 0.03);
      }
   }
   input[type="submit"] {
      color: $light;
      background-color: $green;
      transition: all 0.3s ease;
      padding: 13px 31px;
      text-transform: uppercase;
      cursor: pointer;
      @media (min-width: 769px) {
         max-width: max-content;
      }
      &:hover,
      &:focus {
         color: $green;
         background-color: $light;
         border-color: $green;
      }
   }
   // .form__input

   &__input {
      width: 100%;
   }

   // .form__inputs

   &__inputs {
      width: 100%;
      display: flex;
      align-items: center;
      column-gap: 9px;
   }

   // .form__textarea

   &__textarea {
      textarea {
         height: 182px;
         resize: none;
      }
   }
}
